@media screen and (max-width: 576px) {
    .nav-link>ul {
        display: none;
    }

    .nav-logo>img {
        width: 35px;
    }

    .nav-logo h1 {
        font-size: 21.543px;
    }


    .hide {
        display: block;
    }





    /* travel-container  */
    .travel-container {
        width: 100%;
        height: 100%;
    }

    .travel-container>h1 {
        font-size: 23px;
    }

    .travel-container>p {
        font-size: 14px;
        line-height: 20px;
    }


    .travel-input-find {
        flex-direction: column;
    }

    .travel-input-find {
        gap: 10px;
    }






    /* popular-tours-container start */
    .popular-tours-container {
        flex-direction: column;
    }

    .popular-tours-contain {
        width: 100%;
        margin-top: 50px 0;
    }

    .popular-tours-contain>h1 {
        font-size: 20px;
    }

    .popular-tours-image {
        width: 100%;
        margin-top: 30px;
    }

    /* popular-tours-container end */






    /* .destination-all-image */
    .destination-all-image {
        grid-template-areas: "Maldives "
            "Indonesia"
            "Srilanka"
            "NorthAmerica"
            "Kashmir"
            "Bangladesh"
            "Bandarban";
    }

    /* ======================================= */
    .section-title {
        font-size: 20px;
    }


    /* ======================================= */


    /* Why Choose Us */
    .choose-service-container .choose-card h3 {
        font-size: 20px;
    }








    /* A Simple Perfect Place To Get Lost */
    .place-container,
    .newsletter-container {
        flex-direction: column;
    }


    .place-contain {
        width: 100%;
    }

    .place-contain>button {
        margin-bottom: 40px;
    }

    .place-video {
        width: 100%;
    }


    .place-contain>h1 {
        font-size: 20px;
        line-height: 30px;

    }





    .dicount-price {
        width: 80%;
    }

    .discount-price-A {
        margin-right: 0px;
    }

    .discount-price-B {
        margin-left: 0px;
    }

    .discount-card-1,
    .discount-card-2,
    .discount-card-3 {
        justify-content: center;
    }

    .dicount-price * {
        margin: 3px 0;
    }

    .discount-all-card .discount-card {
        align-items: flex-end;
        padding-bottom: 10px;
    }

    .dicount-price .dicount-date>span>img {
        width: 24px;
    }

    .discount-all-card .discount-card h2 {
        font-size: 20px;
    }


    .discount-all-card .discount-card p {
        font-size: 14px;
    }

    .discount-all-card .discount-card h1 {
        font-size: 16px;
    }

    /* newsletter-container ================= */
    .newsletter-container {
        margin: 50px 0;
        /* border: 2px solid red; */
    }

    .newslatter-contain {
        width: 100%;
    }

    .newslatter-imagge {
        margin-top: 20px;
        width: 100%;
    }

    .newslatter-imagge .promo_code {
        width: 214px;
        right: 10px;
        transform: rotate(-30deg);
        bottom: 45px;
    }

    .newslatter-imagge .promo_code>h3 {
        font-size: 18px;
    }

    .newslatter-imagge .promo_code>h2 {
        font-size: 22px;
    }

    /* newsletter-container end================= */

    /* footer */
    footer {
        padding: 50px 0;
    }

    .footer-all-contain .footer-logo>h1 {
        font-size: 21px;
    }

    .footer-all-contain {
        width: 90%;
    }

    /* .footer-all-contain .media-icon{
        margin: 0 auto;        
        display: flex;
        background-color: red;
    } */

    .footer-all-contain .media-icon i {
        font-size: 20px;
    }

}




@media screen and (min-width: 577px) and (max-width: 992px) {



    .nav-link>ul {
        display: none;
    }

    .nav-logo>img {
        width: 38px;
    }

    .nav-logo h1 {
        font-size: 27px;
    }

    .hide {
        display: block;
    }

    .destination-all-image {
        grid-template-areas:
            "Maldives Indonesia"
            "Srilanka NorthAmerica"
            "Kashmir Bangladesh"
            "Bandarban Bandarban";
    }



    
    /* 222222222222222222222222 */
    .travel-input-find {
        width: 50%;
        flex-direction: column;
    }

    .travel-container>h1 {
        font-size: 35px;
    }

    .travel-container>p {
        line-height: 20px;
    }


    .travel-input-find>input,
    .travel-input-find>select {
        width: 100%;
    }







    /* popular-tours-container start */
    .popular-tours-container {
        flex-direction: column;
    }

    .popular-tours-contain {
        width: 100%;
        margin-top: 50px 0;
    }

    /* .popular-tours-contain>h1 {
        font-size: 20px;
    } */
    .popular-tours-image {
        width: 100%;
        margin-top: 30px;
    }

    /* popular-tours-container end */




    /* A Simple Perfect Place To Get Lost */
    .place-container,
    .newsletter-container {
        flex-direction: column;
    }


    .place-contain {
        width: 100%;
    }

    .place-contain>button {
        margin-bottom: 40px;
    }

    .place-video {
        width: 100%;
    }

    .discount-card-1,
    .discount-card-2,
    .discount-card-3 {
        justify-content: center;
    }

    .discount-price-A {
        margin-right: 0px;
    }

    .discount-price-B {
        margin-left: 0px;
    }

    .discount-all-card .discount-card {
        align-items: flex-end;
        padding-bottom: 10px;
    }

    .dicount-price * {
        margin: 4px 0;
    }

    /* newsletter-container ================= */
    .newsletter-container {
        margin: 50px 0;
        /* border: 2px solid red; */
    }

    .newslatter-contain {
        width: 100%;
    }

    .newslatter-imagge {
        margin-top: 20px;
        width: 100%;
    }

    .footer-all-contain {
        width: 90%;
    }





}